<h1>Editing Picture</h1>

<%= render 'form', picture: @picture %>

<%= link_to 'Show', @picture %> |
<%= link_to 'Back', pictures_path %>
<%= link_to 'お気にいり',favorites_path(picture_id: @picture.id) %> 
